
{{ $episodes := where .site.RegularPages "Section" "episode" }}
{{ $sorted := slice }}

{{ range $episodes }}
  {{ $sorted = $sorted | append (dict "page" . "date" (time .Params.air_date)) }}
{{ end }}

{{ with index (sort $sorted "date" "desc") 0 }}
  <div class="bg-white p-6 rounded-lg shadow">
    <p class="text-3xl font-bold mb-2">Latest Episode</p>
    <h2 class="text-2xl font-bold mb-2">{{ .page.Title }}</h2>
    <p class="text-sm text-gray-600">Aired: {{ .date.Format "2006-01-02" }}</p>


{{ $base := site.Params.mp3_path }}
{{ $path :=  .page.Params.audio_filename }}

{{ partial "audio-player.html" (dict "base" $base  "path" $path) }}


{{ with .page.Params.main_image }}
  <div class="float-right w-1/2 ml-6 mt-2">
    <img src="/images/{{ . }}" alt="Episode image" class="rounded-lg shadow" />
  </div>
{{ end }}

    <div class="prose mt-4">
      {{ .page.Content }}
    </div>

    <a href="{{ .page.RelPermalink }}" class="mt-4 inline-block text-blue-600 hover:underline">Read more</a>
  </div>
{{ end }}