      <h2 class="text-2xl font-bold" >More info</h2>
      {{ partial "all-pages.html" . }}
      <hr class="my-8 border-t border-gray-300" />
      <h2 class="text-2xl font-bold" >Episodes</h2>
      {{ partial "episode-list.html" . }}
      <hr class="my-8 border-t border-gray-300" />
      <h2 class="text-2xl font-bold" >Blog Posts</h2>
      {{ partial "post-list" .}}

      <hr class="my-8 border-t border-gray-300" />
      <h2 class="text-2xl font-bold" >Social Links</h2>
      {{ partial "social-links" .}}
      <hr class="my-8 border-t border-gray-300" />
      <h2 class="text-2xl font-bold" >Our Supporters</h2>
      {{ partial "supporters" .}}

