<div class="flex space-x-4 mt-6 text-2xl">

  <a href="https://social.sixdegreesofohio.com/@announce" class="text-blue-500 hover:text-blue-700" target="_blank">
    <i class="fa-brands fa-mastodon"></i>
  </a>

  <a href="https://social.sixdegreesofohio.com/@sergio_101" class="text-blue-500 hover:text-blue-700" target="_blank">
    <i class="fa-brands fa-mastodon"></i>
  </a>

  <a href="https://instagram.com/sergio_101" class="text-blue-500 hover:text-blue-700" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>

    <a href="https://www.facebook.com/SixDegreesOfOhio" class="text-blue-500 hover:text-blue-700" target="_blank">
    <i class="fa-brands fa-facebook"></i>
  </a>

</div>